body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}


/* bloco azul da esquerda */
.esquerda {
    width: 3.5%;
    background-color: #506283;
}


/* bloco central */
.centro {
    width: 31.5%;
    background-color: #ececec;    
    text-align: center;
}

/* área perfil */
.perfil {
    background-color: #d9d6d6;
    justify-items: center;
    padding-bottom: 10px;
}

.perfil img {
    width: 70%;
    border-radius: 300px;
    margin-top: 10%;
}

.perfil #name {
    font-weight: 900;
    font-size: 4vw;
    margin-top: 0.2em;
    margin-bottom: 0em;
}

.perfil #lastname {
    font-weight: 700;
    font-size: 3.5vw;
    margin: 0em;
}

.perfil p {
    font-weight: 400;
    font-size: 1.5vw;
}

.perfil hr {
    background-color: #808080;
    height: 1%;
    width: 80%;
}


/* área contatos */
#whats, #email, #linkedin, #instagram {
    display: flex;
    align-items: center;
    padding-left: 12%;
    padding-top: 4%;
}

.contatos img {
    width: 10%;
    height: 10%;
    padding-right: 3%;
}

#whats, #email, #linkedin, #instagram p {
    font-weight: 700;
    font-size: 1.2vw;
    margin-top: 0em;
    margin-bottom: 0em;
}


/* bloco da direita */
.direita {
    width: 65%;
    background-color: #2abb10;
}